@{
    ViewData["Title"] = "Mon Flux";
}


<div class="d-flex flex-column justify-content-center align-items-center bg-primary text-white pt-5 pb-5">
    <a class="btn btn-outline-light" asp-area="" asp-controller="Flux" asp-action="Index">Créer une publication</a>
</div>