@{
    ViewData["Title"] = "Home";
}


<div class="d-flex flex-column justify-content-center align-items-center text-dark pt-5 pb-5">
    <h1 class="display-4 fw-bold">MoviesWorld</h1>
    <p class="text-center fw-bolder">Partagez, discutez... Bienvenue sur la communauté MoviesWorld !</p>
    <a class="btn btn-outline-dark" asp-area="" asp-controller="Connexion" asp-action="Index">Se connecter</a>
</div>

<div>
    <div class="container h-100 justify-content-center align-content-center">
        <h2 class="text-center text-dark text-uppercase">Rejoignez-nous gratuitement dès maintenant !</h2>
        <div class="row text-center">
            <div class="col border text-dark fw-bolder border-dark m-3 p-3">Rajoutez vos films préférés et dites ce que vous en pensez !</div>
            <div class="col border text-dark fw-bolder border-dark m-3 p-3">Ajoutez vos critiques de films ou commentez ceux des autres !</div>
            <div class="w-100"></div>
            <div class="col border text-dark fw-bolder border-dark m-3 p-3">Cherchez le film qui animera votre soirée avec notre onglet recommandation !</div>
            <div class="col border text-dark fw-bolder border-dark m-3 p-3">Ajoutez vos amis ou faites des rencontres !</div>
        </div>
        <div class="d-none d-lg-flex d-md-none justify-content-center align-content-center">
            <img class="img-fluid mx-auto" src="https://cdni.iconscout.com/illustration/premium/thumb/watching-movie-with-friends-4578961-3798341.png" alt="background movie"></div>
    </div>
</div>