@{
    ViewData["Title"] = "Abonnements";
}
<div class="d-flex justify-content-center align-items-center">
    <input id="search" class="form-control w-25 m-5" type="text" placeholder="Entrez un prénom..."/>
</div>
<div id="div-table">
    <table id="table-person"></table>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/search.js"></script>
}